
@import "tailwindcss";

@font-face {
    font-family: 'Barlow';
    src: url('/fonts/Barlow-Reguler.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Reguler.ttf');
}

@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost-Regular.ttf');
}

@font-face {
    font-family: 'Muli-Bold';
    src: url('/fonts/Muli-Bold.ttf');
}

@font-face {
    font-family: 'Muli';
    src: url('/fonts/Muli.ttf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/HelveticaNeueBold.ttf');
}


@theme {
    --font-barlow: "Barlow", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-jost: "Jost", sans-serif;
    --font-Muli: "Muli", sans-serif;
    --font-Muli-Bold: "Muli-Bold", sans-serif;
    --font-Helvetica: "Helvetica", sans-serif;

    --color-latar: #f3f4f6;
    --color-teks: #374151; 
    --color-teks-samping: #6b7280;
    --color-garis: #e5e7eb; 
    --color-hijau: #00B074; 
    --color-merah: #ef4444; 
    --color-biru: #3b82f6;
    --color-kuning: #f59e0b; 
}